JSON/flow.json
[{"id":"6fb732ba.1e372c","type":"tab","label":"Flow 1"},{"id":"8914adab.a2c39","type":"inject","z":"6fb732ba.1e372c","name":"Comando LED On","topic":"","payload":"{\"led\":200}","payloadType":"json","repeat":"","crontab":"","once":false,"x":181,"y":42,"wires":[["53777883.059e68"]]},{"id":"53777883.059e68","type":"serial out","z":"6fb732ba.1e372c","name":"Arduino","serial":"f2486592.303a48","x":462,"y":105,"wires":[]},{"id":"39d1ee91.915372","type":"serial in","z":"6fb732ba.1e372c","name":"Arduino","serial":"f2486592.303a48","x":132,"y":279,"wires":[["97deccbd.08b26"]]},{"id":"97deccbd.08b26","type":"function","z":"6fb732ba.1e372c","name":"Parse Luz","func":"var obj = JSON.parse(msg.payload.trim());\nif(\"luz\" in obj){\n    msg.payload = obj.luz;\n}else {\n    msg = undefined;\n}\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":360,"wires":[["ad647998.a580b8","2e472268.605ece"]]},{"id":"ad647998.a580b8","type":"debug","z":"6fb732ba.1e372c","name":"","active":true,"console":"false","complete":"payload","x":600,"y":288,"wires":[]},{"id":"cd25da4.d3cc528","type":"inject","z":"6fb732ba.1e372c","name":"Comando LED off","topic":"","payload":"{\"led\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":182,"y":141,"wires":[["53777883.059e68"]]},{"id":"2e472268.605ece","type":"mqtt out","z":"6fb732ba.1e372c","name":"","topic":"lab701/arduino18/luz","qos":"0","retain":"","broker":"85060ac1.6e46a8","x":639,"y":476,"wires":[]},{"id":"a0c2dc9f.ca629","type":"mqtt in","z":"6fb732ba.1e372c","name":"","topic":"lab701/arduino18/led","qos":"2","broker":"85060ac1.6e46a8","x":152,"y":503,"wires":[["9a3f63ed.93c87"]]},{"id":"509742ce.9a652c","type":"serial out","z":"6fb732ba.1e372c","name":"","serial":"f2486592.303a48","x":604,"y":549,"wires":[]},{"id":"9a3f63ed.93c87","type":"function","z":"6fb732ba.1e372c","name":"Parse Led","func":"var potencia = parseInt(msg.payload);\nmsg.payload = {};\nmsg.patload[\"led\"] = potencia\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":626,"wires":[["509742ce.9a652c","58f64264.2b470c"]]},{"id":"58f64264.2b470c","type":"debug","z":"6fb732ba.1e372c","name":"","active":true,"console":"false","complete":"false","x":619,"y":716,"wires":[]},{"id":"f2486592.303a48","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"85060ac1.6e46a8","type":"mqtt-broker","z":"","broker":"10.20.71.61","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]